{% extends "layout.html" %}

{% block content %}

<div class="row justify-content-center mt-5">
    <div class="col-md-4">
        <h2 class="fw-bold mb-4">Registreren</h2>
        <form method="POST">
            <div class="mb-3">
                <label class="form-label">Gebruikersnaam</label>
                <input type="text" name="username" class="form-control" required>
            </div>
            <div class="mb-3">
                <label class="form-label">Wachtwoord</label>
                <input type="password" name="password" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-dark w-100">Registreren</button>
        </form>
        <p class="mt-3 text-center">Al een account? <a href="/login">Inloggen</a></p>
    </div>
</div>

{% endblock %}